<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class='main-content-main-page'>
	<div class='section-content section-content-p30 main-page'>
		Graduado en <a routerLink="/content/jobs/1" class="mt-5">Biología</a>
		con <a routerLink="/content/jobs/4" class="mt-5">máster en
			Formación del Profesorado</a> que decidió cambiar su rumbo. Estuve desde
		2017 a 2020 viviendo en Brighton, compaginando un <a
			routerLink="/content/jobs/7" class="mt-5">empleo en hostelería</a>
		con la realización del grado “<a routerLink="/content/jobs/8"
			class="mt-5">Desarrollo de Aplicaciones Multiplataforma</a>” y la
		autoformación. Tras terminar el grado y sus <a
			routerLink="/content/jobs/9" class="mt-5">prácticas</a>, trabajé
		brevemente en <a routerLink="/content/jobs/10" class="mt-5">Deloitte</a>>.
		Actualmente ejerzo de desarrollador en <a
			routerLink="/content/jobs/11"
			class="mt-5">Sanne</a>. Me considero
		trabajador, organizado y lleno de motivación. <br> <br> <a
			href="https://www.linkedin.com/in/aitor-rodr%C3%ADguez/"> <img
			class='img-hoverable img-responsive' alt="foto de Aitor Rodríguez"
			src="/assets/images/portrait/setito.png" height="50">
		</a>
	</div>
</div>
