<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class='main-content-main-page'>
	<div class='section-content section-content-p30 main-page'>
		<div class='row'>
			<div class='col-md'>
						<ngx-qrcode [elementType]="elementType"
					[errorCorrectionLevel]="correctionLevel" [value]="QRCode.link"
					cssClass="animated-spin-and-zoom "
					[scale]="this.qrScale"></ngx-qrcode>
				<a target="_blank" href="{{this.QRCode.buttonLink}}" class="primary-btn"><b>{{QRCode.buttonString}}</b></a>
			</div>
			<div style="width: 85%;" [innerHtml]="htmlText"></div>
		</div>
		





		<!-- 
			<div class='col-md'>
				<a href="https://www.linkedin.com/in/aitor-rodr%C3%ADguez/"> <img
					class='img-hoverable img-responsive img-profile' alt="foto de Aitor Rodríguez"
					src="/assets/images/portrait/setito.png">
				</a>

			</div> -->



		<!--<div class='row'>
		  <button (click)="this.update()">Update</button>
			<div id="chart">
				<apx-chart [series]="chartOptions.series"
					[chart]="chartOptions.chart" [fill]="chartOptions.fill"
					[grid]="chartOptions.grid" [dataLabels]="chartOptions.dataLabels"
					[plotOptions]="chartOptions.plotOptions"
					[xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis"></apx-chart>
			</div>
		</div>-->
	</div>




</div>

