<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<div class="page-wrapper">
	<div>
		<h1>Página de CV de Aitor Rodríguez Lopezosa</h1>
	</div>
	<!-- MENU SIDEBAR-->
	<aside class="menu-sidebar d-none d-lg-block">
		<div class="logo">
			<a routerLink="/index"> <img src="assets/images/logo/Logo.jpg"
				width=100% alt="AitorRodríguez" class="img-responsive">
			</a>
		</div>

		<app-categories-menu></app-categories-menu>

	</aside>
	<!-- END MENU SIDEBAR-->

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->
		<header class="header-desktop">
			<div class="section-content section-content-p30">
				<div class="container-fluid">
					<div class="header-wrap">
						<app-search></app-search>
					</div>
					<div class="account-wrap"></div>
				</div>
			</div>
		</header>
		<!-- END HEADER DESKTOP-->


		<!-- MAIN CONTENT-->
		<router-outlet></router-outlet>
	</div>
	
	<footer>
	<ul>
	

		<li><a routerLink="/contact" routerLinkActive="active-link"><fa-icon [icon]="faMailBulk"></fa-icon>
				{{this.footerString}} </a></li>
		<li><a href='https://www.linkedin.com/in/aitor-rodr%C3%ADguez/' target="LinkedIn"><fa-icon
					[icon]="faLinkedin"></fa-icon> LinkedIn</a></li>
		<li><a href='https://github.com/aitorrod92' target="GitHub"><fa-icon
					[icon]="faFacebook"></fa-icon> GitHub</a></li>
	</ul>
</footer>
	
</div>



