<head>
<meta content="text/html; charset=iso-8859-1" http-equiv=Content-Type>
</head>

<div class="ng-autocomplete form-header" (keyup.enter)="doSearch()">
	<ng-autocomplete #myInput [data]="data" [searchKeyword]="keyword"
		class="au-input au-input-xl" (selected)="selectEvent($event)"
		placeholder="Busca por palabras clave ..."
		(inputChanged)="onChangeSearch($event)"
		(inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [minQueryLength]="busquedaMinima">
	</ng-autocomplete>
	<button type="submit" (click)="doSearch()" (keydown)="onKeydown($event)" class="au-btn-submit">Buscar</button>

	<ng-template #itemTemplate let-item> <a
		[innerHTML]="item.nombre"></a> </ng-template>
</div>