<head>
<meta content="text/html; charset=utf-8" http-equiv=Content-Type>
</head>

<div class="ng-autocomplete form-header" (keyup.enter)="doSearch()">
	<ng-autocomplete #myInput [data]="data" [searchKeyword]="keyword"
		class="au-input au-input-xl" (selected)="selectEvent($event)"
		placeholder="Busca por palabras clave ..."
		(inputChanged)="onChangeSearch($event)"
		(inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
		[minQueryLength]="busquedaMinima"> </ng-autocomplete>
	<button type="submit" (click)="doSearch()"
		(keydown)="onKeydown($event)" class="au-btn-submit">Buscar</button>

	<ng-template #itemTemplate let-item> <a
		[innerHTML]="item.nombre"></a> </ng-template>
		
	<div class="languages-section" id="languages-section">
		<button type="submit" (click)="changeLanguage('es')"
			id="btn-es" (keydown)="onKeydown($event)" style="background-image:url('../../../assets/images/languages/Castellano.png')" class="language-button"></button>
		<button type="submit" (click)="changeLanguage('en')"
			id="btn-en" (keydown)="onKeydown($event)" style="background-image:url('../../../assets/images/languages/Inglés.png')" class="language-button img-hoverable"></button>
	</div>
</div>